version: '3.8'
services:
  app:
    build: .
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
      - db.env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    env_file:
      - db.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"

volumes:
  db_data: