services:
  app:
    build: .
    ports:
      - "${APP_PORT:-8080}:${APP_PORT:-8080}"
    env_file:
      - db.env
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - ../DB_poem/uploads:/DB_poem/uploads

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    env_file:
      - db.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"

volumes:
  db_data: