.footer-edu {
  width: 100%;
  background: #70136C;
  color: #fff;
  text-align: center;
  padding: 18px 0 12px 0;
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  letter-spacing: 0.5px;
}
