/* ตั้งค่า fontFamily สำหรับทุกข้อความในเว็บไซต์ */
* {
  font-family: 'Roboto', 'Noto Sans Thai', sans-serif;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}
/* ในไฟล์ CSS */
.pre-line-text {
  white-space: pre-line; /* แสดงผล \n เป็นการขึ้นบรรทัดใหม่ */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f8f9fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(129, 30, 30);
}

.App-link {
  color: #61dafb;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* ป้องกันไม่ให้เนื้อหาบังเมนู */
}

.content {
  padding-top: 70px; /* ปรับให้ตรงกับความสูงของเมนู */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  background-color: white;
  color: black; /* หากต้องการให้ไอคอนหรือข้อความเป็นสีดำ */
}
.navbar-brand.active, .nav-link.active {
  color: white !important; /* เปลี่ยนเป็นสีขาว */
  font-size: 1.2rem; /* ขยายขนาดตัวอักษร */
  font-weight: bold; /* เพิ่มความหนา */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category-button {
  font-size: 1.2em;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px; /* ขอบมนของปุ่ม */
}

.category-button.selected {
  background-color: #4F95DA; /* สีเมื่อเลือก */
}

.category-button.default {
  background-color: #8BD2EC; /* สีเมื่อไม่เลือก */
}
.my-cart {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  
}

.order-summary {
  margin: 20px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-total {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}




.clickable-logo-card:hover small {
  color: white; /* เปลี่ยนสีของชื่อร้านเมื่อโฮเวอร์ */
}

.clickable-logo-card:hover img {
  transform: scale(1.1); /* ทำให้โลโก้ใหญ่ขึ้นเมื่อโฮเวอร์ */
  transition: transform 0.3s ease; /* เพิ่มการเปลี่ยนแปลงขนาดของโลโก้ */
}
@media (max-width: 768px) {
  .product-detail-container {
    display: block;
    padding: 0 15px;
  }

  .product-detail-title {
    font-size: 28px;
  }

  .product-detail-price {
    font-size: 20px;
  }

  .quantity-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .related-products {
    margin-top: 30px;
  }

  .related-product-card {
    margin-bottom: 20px;
  }
}

.nav-link:hover {
  color: #FFD700; /* สีทองเมื่อชี้เมาส์ */
}




/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #CC0066;
  color: #CC0066;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CC0066;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


/* CSS */
.button-40 {
  
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

/* styles.css */
body {
  background-color: #ffffff !important; /* ใช้ !important เพื่อให้มีผลสูงสุด */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000000;
}


@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.body {
  font-family: 'Rocher';
  text-align: center;
  font-size: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}


/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #000000 0 0 0 3px, transparent 0 0 0 0;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
/* From Uiverse.io by cssbuttons-io */ 
.custom-button {
  width: 170px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
}

.custom-button, .custom-button span {
  transition: 200ms;
}

.custom-button .custom-text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.custom-button .custom-icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button svg {
  width: 15px;
  fill: #eee;
}

.custom-button:hover {
  background: #ff3636;
}

.custom-button:hover .custom-text {
  color: transparent;
}

.custom-button:hover .custom-icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.custom-button:focus {
  outline: none;
}

.custom-button:active .custom-icon svg {
  transform: scale(0.8);
}
.checkbox-wrapper-4 * {
  box-sizing: border-box;
  color: white;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0,119,255,0.06);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #07f;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
.custom-radio-label {
  color: black; /* เปลี่ยนสีข้อความเป็นสีดำ */
}
.product-card {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* เงาเบาๆ */
}

.product-card:hover {
  transform: translateY(-15px); /* ขยับการ์ดขึ้นเมื่อเอาเมาส์จ่อ */
  box-shadow: 0px 10px 15px rgba(193, 0, 0, 0.1) !important; /* เพิ่มเงาดำเข้ม */
  border: 1px solid rgba(255, 255, 255, 0.454); /* ขอบการ์ดเปลี่ยนเมื่อโฮเวอร์ */
}


.product-card .product-image-container {
  height: 250px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-card .product-image-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.product-card .product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.product-card .product-card-body .product-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #CC0066;
  margin-bottom: 10px;
  text-truncate: ellipsis;
}

.product-card .product-card-body .price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745;
}

.product-card .product-card-body .seller-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-card .product-card-body .seller-info .button-57 {
  padding: 5px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  border: 2px solid #CC0066;
}

.product-card .product-card-body .seller-info .button-57 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid #CC0066;
}

.product-card .product-card-body .seller-info small {
  font-size: 0.9rem;
  font-weight: bold;
  color: #CC0066;
  cursor: pointer;
}

.product-card .product-card-body .seller-info .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  color: #fb6b6b;
  font-size: 0.8rem;
  font-weight: normal;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
}

.product-card .product-card-body .seller-info:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.product-card .product-card-body .seller-info .store-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: rgb(255, 69, 69);
}

.button:hover .svgIcon {
  width: 50px;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "ลบสินค้า";
  color: rgb(255, 255, 255);
  font-size: 2px;
  transition-duration: 0.3s;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
}
.round-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #000; /* ขอบสีดำ */
  background-color: transparent; /* สีพื้นโปร่งใส */
  color: #000; /* สีตัวอักษรเป็นสีดำ */
}

.round-button:hover {
  background-color: #f5f5f5; /* สีพื้นหลังเมื่อ hover */
  color: #000;
}
/* Custom Styled Checkout Button */
.styled-checkout-button {
  border-radius: 8px;
  border: 1px solid #fff;
  background: #c20e0e!important; /* เปลี่ยนสีพื้นหลังที่นี่ */
  box-shadow: 0px 2px 0px 0px rgba(220, 52, 52, 0.5);
  backdrop-filter: blur(15px);
  position: relative;
  transition: all 0.3s ease-in-out;


  padding-inline: 5rem;
  width: 100%; /* ใช้ 100% ความกว้างของคอนเทนเนอร์ */

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  gap: 10px;

  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.styled-checkout-icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.styled-checkout-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
}

.styled-checkout-button:hover .styled-checkout-icon {
  transform: translate(4px);
}

.styled-checkout-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

.styled-checkout-button:hover::before {
  animation: shine 1s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* From Uiverse.io by absoluteSTrange */
.custom-btn {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(195, 187, 188) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.custom-btn:hover {
  box-shadow: rgb(199, 185, 187) 0px 7px 0px 0px;
}

.custom-btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}
.cart-icon {
  position: relative;
  display: outline-flex;
  align-items: center;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cart-icon.animate {
  animation: cartAnimation 0.6s ease-in-out;
}

@keyframes cartAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.cart-icon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(15, 11, 11);
}




/* CSS สำหรับการทำ fade-in */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.styled-button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(24, 119, 242);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(24, 119, 242);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.styled-button span {
  margin: 10px;
}

.styled-button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.styled-button:hover {
  color: #fff;
  border: 1px solid rgb(24, 119, 242);
}

.styled-button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(24, 119, 242);
}
.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.horizontal-scroll .row {
  flex-wrap: nowrap;
}

.product-card {
  min-width: 200px;
}

/* From Uiverse.io by ElgyoshiMa91846 */ 
/* This is an example, feel free to delete this code */
.elgy-tooltip-container {
  background: rgb(3, 169, 244);
  background: linear-gradient(
    138deg,
    rgba(3, 169, 244, 1) 15%,
    rgba(63, 180, 233, 1) 65%
  );
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 9999;  /* Ensure this is high enough to be on top */
  cursor: pointer;
  font-size: 17px;
  padding: 0.7em 0.7em;
  transform: translateY(-50%);
  border-radius: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.elgy-tooltip-container:hover {
  background: #fff;
  transition: all 0.6s;
}
.elgy-tooltip-container .text {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition: all 0.2s;
}
.elgy-tooltip-container:hover .text {
  fill: rgb(3, 169, 244);
  transition: all 0.6s;
}

/* Inicio do tooltip twitter */
.elgy-tooltip1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #03a9f4;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .tooltip1 {
  top: 150%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  border-radius: 50px;
  transform: translate(-50%, -5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip1:hover {
  background: #03a9f4;
  fill: #fff;
}
/* Fim do tooltip twitter */

/* Inicio do tooltip facebook */
.elgy-tooltip2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #0462df;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip2 {
  top: -120%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(-50%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elgy-tooltip-container:hover .elgy-tooltip2:hover {
  background: #0462df;
  fill: #fff;
}
/* Fim do tooltip facebook */

/* Inicio do tooltip whatsApp */
.elgy-tooltip3 {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translateX(80%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #1db954;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip3 {
  top: 10%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(85%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip3:hover {
  background: #1db954;
  fill: #fff;
}
/* Fim do tooltip whatsApp */

/* Inicio do tooltip Discord */
.elgy-tooltip4 {
  position: absolute;
  top: 100%;
  left: -190%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #8c9eff;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip4 {
  top: 10%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip4:hover {
  background: #8c9eff;
  fill: #fff;
}
/* Fim do tooltip Discord */

/* Inicio do tooltip pinterest */
.elgy-tooltip5 {
  position: absolute;
  top: 100%;
  left: -145%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #bd081c;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip5 {
  top: -78%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip5:hover {
  background: #bd081c;
  fill: #fff;
}
/* Fim do tooltip pinterest */

/* Inicio do tooltip dribbble */
.elgy-tooltip6 {
  position: absolute;
  top: 100%;
  left: 35%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #ea4c89;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip6 {
  top: -79%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip6:hover {
  background: #ea4c89;
  fill: #fff;
}
/* Fim do tooltip dribbble */

/* Inicio do tooltip github */
.elgy-tooltip7 {
  position: absolute;
  top: 100%;
  left: 39%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #000;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip7 {
  top: 104%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip7:hover {
  background: #000;
  fill: #fff;
}
/* Fim do tooltip github */

/* Inicio do tooltip reddit */
.elgy-tooltip8 {
  position: absolute;
  top: 100%;
  left: -150%;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #ff4500;
  padding: 10px;
  border-radius: 50px;
  transition:
    opacity 0.3s,
    visibility 0.3s,
    top 0.3s,
    background 0.3s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.elgy-tooltip-container:hover .elgy-tooltip8 {
  top: 101%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elgy-tooltip-container:hover .elgy-tooltip8:hover {
  background: #ff4500;
  fill: #fff;
}
/* Fim do tooltip reddit */

/* Inicio do tooltip fixo */
.elgy-tooltip9 {
  position: absolute;
  top: 0;
  left: -115%;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.elgy-tooltip-container:hover .elgy-tooltip9 {
  top: -110%;
  opacity: 1;
  visibility: visible;
  border-radius: 50%;
  z-index: -1;
}
.elgy-tooltip-container button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #03a9f4;
  border-radius: 50px;
  padding: 0.5em 1em;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Ensure it stays above other elements */
}

.elgy-tooltip-container button:hover {
  background-color: #fff;
  color: #03a9f4;
}

/* From Uiverse.io by Li-Deheng */ 
/* Button Container */
.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

/* Button Content */
.btn-content {
  display: flex;
  align-items: center;
  padding: 10px 40px; /* ขยาย padding เพื่อให้ปุ่มมีขนาดใหญ่และชัดเจน */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: all 0.4s ease;
  border-radius: 30px; /* ปรับขอบมนให้สัมพันธ์กับขนาดปุ่ม */
  box-shadow: 0 0 0.4em var(--color-shadow);
}

.btn-content:hover,
.btn-content:focus {
  transition: all 0.3s ease;
  box-shadow: 0 0 1em var(--color-outline); /* เพิ่ม shadow ให้สอดคล้องกับขนาดปุ่ม */
  outline: none; /* เอา outline ออก */
}

.btn-content .icon-arrow {
  transition: 0.3s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  margin-right: 15px; /* ลด margin เพื่อให้สอดคล้องกับขนาดปุ่ม */
}

/* SVG Arrow Styles */
.icon-arrow {
  width: 20px;
  margin-left: 10px;
  position: relative;
  
}

/* SVG Animations */
#arrow-icon-one,
#arrow-icon-two {
  transition: transform 0.4s;
}

#arrow-icon-one {
  transform: translateX(-50%);
}

#arrow-icon-two {
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
}

@keyframes color_anim {
  0%, 100% { fill: white; }
  50% { fill: var(--color-background); }
}

/* Removing the unnecessary outline animation */
@keyframes btn-content {
  0% { box-shadow: 0 0 0.2em var(--color-outline); }
  100% { box-shadow: 0 0 0.4em var(--color-outline); }
}


/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(168, 38, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/* From Uiverse.io by eirikvold */
.gradient-btn {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.gradient-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.gradient-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.gradient-btn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.gradient-btn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.gradient-btn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.gradient-btn:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.gradient-btn:hover svg {
  transform: rotate(45deg);
}
