body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans Thai', sans-serif; /* เปลี่ยนตรงนี้ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

